@import "src/styles/variables";

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.main {
  font-family: "jaf-domus";
  background: $pink;
  color: $yellow;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "jaf-domus-titling-web";
  color: $wine;
}
