@import "src/styles/variables";

.tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 3rem;
}

.section {
  margin: 1rem auto 2rem;
}

.ticket {
  width: 60vw;
  min-width: 40rem;
  text-align: center;
  margin: 0 auto;
}

.ticket .img {
  width: 100%;
  margin: 0 auto;
}
