@import "src/styles/variables";

.app {
  text-align: center;
}

.logo {
  width: auto;
  height: 50vh;
}

.header {
  padding: 1rem;
}

.title {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $white;
  text-shadow: 3px 3px $orange;
}

.intro {
  font-size: 2rem;
}
