.app {
  text-align: center;
  font-family: "proxima-nova";
  background: #EC5F99;
  min-height: 100vh;
  color: #fff;
}

.logo {
  width: auto;
  height: 50vh;
}

.header {
  padding: 1rem;
}

.title {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.intro {
  font-size: 2rem;
}
