@import "src/styles/variables";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $pink;
}

a {
  color: $orange;
  text-decoration: none;
  border-bottom: 1px solid $orange;
}
